<h1>Bem-vindo ao Cadê Buffet?</h1>

<h2>Buffets</h2>

<% @buffets.each do |buffet|%>
  <div>
    <h3><%= link_to(buffet.corporate_name, buffet_path(buffet.id) )%></h3>
    <dl>
      <dt>Cidade:</dt>
      <dd><%= buffet.city%> - <%=buffet.state%></dd>  
    </dl>      
  </div>
<%end %>

<% if @buffets.empty? %>
  <p> Não existem Buffets cadastrados </p>
<%end %>