<h1>Meus Pedidos</h1>
<% @orders.each do |order|%>
  <div>
    
    <dl> 
      <dt><h3><%= link_to order.code , buffet_event_order_path(order.event.buffet, order.event, order )  %></h3></dt>
      <dd><strong>Evento: </strong><%=   order.event.name  %></dd>  
      <dd><strong>Status: </strong><%= t(order.status)  %></dd>  
      <dd><strong>Data: </strong><%=  l(order.date_event)  %></dd>   
    </dl>      
  </div>


<%end%>